/*login*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: #fff;
    font-family: 'Roboto', sans-serif;
}

main {
    flex: 1 0 auto;
}

p {

}


.input-field input[type=date]:focus+label, .input-field input[type=text]:focus+label, .input-field input[type=email]:focus+label, .input-field input[type=password]:focus+label {
    color: #e91e63;
}

.input-field input[type=date]:focus, .input-field input[type=text]:focus, .input-field input[type=email]:focus, .input-field input[type=password]:focus {
    border-bottom: 2px solid #e91e63;
    box-shadow: none;
}

.sitename {
    width: 150%;
    height: 150%;
}

#suiviBar {
    padding: 0;
    height: 40px;
}


/*fin login*/

.chart_div div div {
    width: 900px;
    height: 500px;
}

.Inscription{
  margin-top: 20px;
}
